html,
body {
  height: 100%;
}

#root,
.App {
  height: inherit;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: inherit;
}
.map-container {
  height: inherit;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.navigate-buttons {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 6px 12px;
  bottom: 10px;
  left: 0;
  z-index: 1;
  font-family: monospace;
  position: relative;
  margin: 12px;
  border-radius: 4px;
}

.selectable-event {
  cursor: pointer;
}
.selectable-event:hover {
  background-color: lightgrey;
}

.selectable-event.selected {
  background-color: antiquewhite;
}

.filter {
  padding: 5px 5px;
  margin: 5px 5px;
}
.filter.selected {
  background-color: black;
  color: white;
}
